@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --spotify-green: #2aa648;
  --white: #fff;
  --direction-btn: #BABABA;
  --black: #121212;
  --spotify-gray: #181818;
  --dark-gray: #a9a9a9;
  --gray: #9a9a9a;
  --volume-bg: #5E5E5E;
  --border-round: 50%;
  --border-big: 30px;
  --border-medium: 15px;
  --border-small: 7px;
}

.d-flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-gap {
  gap: 1rem;
}

.basic-link {
  color: var(--spotify-green);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.font-weight-bold {
  font-weight: 700;
}

.color-white {
  color: var(--white);
}