@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --spotify-green: #2aa648;
  --white: #fff;
  --black: #121212;
  --dark-brown: #2a2b2a;
  --dark-gray: #a9a9a9;
}

.d-flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basic-gap {
  gap: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.font-weight-bold {
  font-weight: 700;
}
